# Sensitive files
private_notes.txt
.env
.env.docker
.env.compose
docker-compose.yml
secrets/

# React Native specific
node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
config/coverage/

# OS-specific
.DS_Store
Thumbs.db

.vscode/

# Might re-stage later:
